---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const services = await getCollection("services");
---

<BaseLayout pageTitle="Services">
  <section class="page-header">
    <div
      class="page-header__bg"
      style="background-image: url(../../static/assets/images/backgrounds/services.png);"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li>Services</li>
        </ul>
        <h2>Our Services</h2>
      </div>
    </div>
  </section>
  <section class="services-page">
    <div class="container">
      <div class="section-title text-center">
        <span class="section-title__tagline">Our services</span>
        <h2 class="section-title__title">What We’re Offering</h2>
      </div>
      <div class="row">
        {
          services.map((service) => (
            <div
              class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated"
              data-wow-delay="300ms"
              style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
            >
              <div class="services-one__single">
                <div class="services-one__single-inner">
                  <div class="services-one__shape-1">
                    <img
                      src="../../static/assets/images/shapes/services-one-shape-1.png"
                      alt=""
                    />
                  </div>
                  <div class="services-one__shape-2">
                    <img
                      src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                      alt=""
                    />
                  </div>
                  <div class="services-one__img-box">
                    <div class="services-one__img">
                      <img
                        src={service.data.image.src}
                        alt={service.data.image.alt}
                      />
                    </div>
                    <div class="services-one__icon">
                      <span class="icon-lotus" />
                    </div>
                  </div>
                  <h3 class="services-one__title">
                    <a href={`/services/${service.id}`}>{service.data.title}</a>
                  </h3>
                  <p class="services-one__text" />
                  <div class="services-one__btn-box">
                    <a href={`/services/${service.id}`} class="services-one__btn">
                      See More
                      <i class="icon-right-arrow" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
